<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation.ejs',{chatRooms: chatRooms}) %>
        <div class="board">
            <div class="board-chat__history">
                <% if(chatRoom){ %>
                    <% for(let chat of chatRoom.chat) { %>
                        <p><%= chat %></p>
                        <% } %>
                            <% } %>
            </div>
            <div class="board-chat__chatBox">
                <!-- <form action="/client/chat/<%= chatRoom.channelId %>/<%= chatRoom._id %>/send" method="post">
            </form> -->
                <input type="hidden" name="channelId" value="<%= chatRoom.channelId %>">
                <input type="hidden" name="chatRoomId" value="<%= chatRoom._id %>">
                <textarea name="content" placeholder="메세지 보내기"></textarea>
                <button type="button" onclick="send(this)">전송</button>
            </div>
        </div>    
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script>
            const socket = io.connect('http://localhost:3000',{
                path: '/socket.io'
            });
            console.log(socket);
        </script> -->
        <script>
            const send = async btn => {
                try {
                    const socket = io.connect('http://localhost:3000');
                    socket.on('chat', data => {
                        const chat = data.chat;
                        console.log('data.chat: ', chat);
                        const pTag = document.createElement('p');
                        console.log('p: ', p);
                    });
                    const channelId = btn.parentNode.querySelector('[name = channelId]').value;
                    const chat = btn.parentNode.querySelector('[name = content]').value;
                    const chatRoomId = btn.parentNode.querySelector('[name = chatRoomId]').value;
                    console.log('chat : ', chat);
                    console.log('chatRoomId: ', chatRoomId);
                    const res = await fetch('http://localhost:3000/client/chat/' + channelId + '/' + chatRoomId + '/send', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            channelId: channelId,
                            chatRoomId: chatRoomId,
                            chat: chat
                        })
                    });
                    const data = await res.json();
                    console.log(data);
                } catch (error) {
                    if (!err.statusCode) {
                        err.statusCode = 500;
                    }
                    next(err);
                }
            }    
            send(btn);
                // const box = btn.parentNode.closest('.board');
                // console.log(box);
                // // const history = box.closest('.board-chat__history');
                // // console.log(history);

                // // document.body.appendChild(document.createElement('p'));
        </script>
        </body>
</html>