<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <!-- 챗 보드 -->
        <div class="board-chat">
            <div class="room-name-container">
                <div class="room-name-box">
                    <i id="hamburger" class="fa-solid fa-bars fa-lg"></i><span><%= title %></span>
                </div>
            </div>
            <div class="board-chat__box-history">
                <div class="hamburger-menu-container">
                    <!-- 햄버거메뉴 생성될 자리 -->
                </div>
                <% if(chats.length > 0) { %>
                    <% for(let chatDetail of chats) { %>
                        <div class="board-chat__unit-chat-box">
                            <% if(chatDetail.isNotice == 'N') { %>
                                <div class="board-chat__unit-chat-img">
                                    <img src="<%= chatDetail.creator.photo %>">
                                </div>
                                <div class="chat">
                                    <% if(chatDetail.isCreator) { %>
                                        <div class="client-name"><%= chatDetail.creator.name %>(나)</div>
                                    <% } else { %>
                                        <div class="other-client-name"><%= chatDetail.creator.name %></div>
                                    <% } %>
                                    <% if(chatDetail.chat !== "" && chatDetail.chat !== null && chatDetail.chat!== undefined) { %>
                                        <div class="board-chat__unit-chat"><%= chatDetail.chat %></div>
                                    <% } %>
                                    <% if(chatDetail.fileUrls.length > 0) { %>
                                    <p id="attached-files-number">첨부 파일 <%= chatDetail.fileUrls.length %>개</p>
                                        <div class="image-box">
                                            <% for(let fileUrl of chatDetail.fileUrls) { %>
                                                <img id="images" src="http://localhost:8080/<%= fileUrl %>">
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="chat-date">
                                    <%= chatDetail.fomatDate %>
                                </div>
                            <% } %>
                            <% if(chatDetail.isNotice == 'Y') { %>
                                <p class="broad-comment"><%= chatDetail.chat %></p>
                            <% } %>
                        </div>
                    <% } %> 
                <% } %>
            </div>
            <div class="board-chat__box-chat">
                <div class="inner">
                    <div id="preview-files"></div>
                    <textarea class="content-box board-chat__textarea" name="content" id="content" placeholder="메세지 보내기"></textarea>
                    <div class="btn-group">
                        <button class="board-chat__btn" type="button" id="send"><i class="fa-solid fa-paper-plane fa-xl"></i></button>
                        <!-- <button type="button" id=""></button> -->
                        <label for="file">
                            <input type="file" id="file" name="file" multiple>
                            <i class="fa-solid fa-image fa-lg"></i>
                        </label>
                    </div>
                </div>
            </div>
            <!-- <div class="box-post-content">
                <div class="inner">
                    <div id="preview-files"></div>
                    <div id="content" name="content" contenteditable="true">
                        <div id="placeholder">aa</div>
                    </div>
                    <div class="btn-group">
                        <div class="position-right-icon">
                            <label for="file">
                                <input type="file" id="file" name="file" multiple>
                                <i class="fa-solid fa-file fa-lg"></i>
                            </label>
                        </div>
                        <div>
                            <button type="button" id="send"><i class="fa-solid fa-paper-plane fa-xl"></i></button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- 오른쪽 사이드 서브 보드 -->
        <div class="board-sub">
            <div class="sub-board__btn-box">
                <button type="button" id="participants" class="sub-board__btn">참여자</button>
                <button type="button" id="file-box" class="sub-board__btn">파일함</button>
            </div>
            <div class="board-user">
                <div class="box__btn__add-member">
                    <button type="button" class="btn__add-member" onclick="onClickAddMemberBtn(event)"> + </button>
                    <span>팀원 목록</span>
                </div>
                <div class="number">
                    <h5>인원수 <%= members.length %></h5>
                </div>
                <% for(let member of members) { %>
                    <div class="box">
                        <input type="hidden" name="members" id="members" value="<%= member._id %>">
                        <img src="<%= member.photo %>">
                        <a href="#"><%= member.name %></a>
                    </div>
                <% } %>
            </div>
            <div class="board-file-box hidden">
                <div class="board-file-box-inner">
                    <div class="file-created-date__box">
                        <span>2023년 10월 14일</span>
                    </div>
                    <div class="file-list-grid"></div>
                </div>
            </div>
            <!-- 팀원목록 보드 -->
            <div class="board-channel-user-list hidden">
                <div class="box__top">
                    <div class="box__exit">
                        <button type="button" class="btn__exit" id="exit" onclick="onClickExitUsers(event)"> x </button>
                    </div>
                </div>
                <div class="box__div-select-push hidden">
                    <!-- 선택한 아이템 -->
                </div>
                <form id='form' action="/client/chat/invite/<%= channel._id %>/<%= chatRoomId %>" method="post">
                    <!-- <div class="box">
                        클라이언트 프로필 사진
                        클라이언트 아이디
                        체크 박스
                    </div> -->
                    <div class="box__btn__add-member">
                        <button type="submit" id="add-member" class="btn__add-member"> + </button>
                        <span id="span__text">초대하기</span>
                    </div>
                </form>
            </div>
        </div>
        <script type="module" src="/js/socket.js"></script>
        <%- include('../includes/script.ejs') %>       
    </body>   
</html>
