<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <!-- 챗 보드 -->
        <div class="board-chat">
            <div class="board-chat__box-history">
                <% for(let chatDetail of chatList) { %>
                    <div class="board-chat__unit-chat-box">
                        <div class="board-chat__unit-chat-img">
                            <img src="<%= chatDetail.creator.photo %>">
                        </div>
                        <div class="chat">
                            <div class="client-name"><%= chatDetail.creator.clientId %></div>
                            <div class="board-chat__unit-chat"><%= chatDetail.chat %></div>
                        </div>
                        <!-- <div class="chat">
                            <div class="client-name"><%= chatDetail.createdAt %></div>
                        </div> -->
                    </div>
                <% } %> 
            </div>
            <div class="board-chat__box-chat">
                    <textarea class="board-chat__textarea" name="content" id="content" placeholder="메세지 보내기"></textarea>
                    <button class="board-chat__btn" type="button" id="send">전송</button>
            </div>
        </div>

        <!-- 오른쪽 사이드 서브 보드 -->
        <div class="board-sub">
            <div class="box__btn-toggle">
                <button type="button" class="btn-toggle active" id="btn-toggle-user" onclick="toggleButton('참여자')">참여자</button>
                <button type="button" class="btn-toggle" id="btn-toggle-task" onclick="toggleButton('업무')">우리들의 업무</button>
            </div>
            <div class="board-user">
                <div class="box__btn__add-member">
                    <button type="button" class="btn__add-member" onclick="onClickLoadUsersInChannel(event)"> + </button>
                    <span>팀원 목록</span>
                </div>
                <div class="number">
                    <h5>인원수 <%= userList.length %></h5>
                </div>
                <% for(let user of userList) { %>
                    <div class="box">
                        <img src="<%= user.photo %>">
                        <a href="#"><%= user.clientId %></a>
                    </div>
                <% } %>
            </div>
            <div class="board-task hidden">
                <div class="task-date__box">
                    <div class="date">2023년 5월 29일 월요일</div>
                    <div class="content">
                        <p>1. 해당 유저의 모든 채널 조회</p>
                        <p>2. 해당 채널아이디에 해당하는 채널 조회 => 채널 접속</p>
                        <p>3. 해당 유저의 채널 생성 => 채널 생성자가 owner</p>
                        <p>4. 접속 유저의 채널 퇴장 => 채널 스키마-> users에서 필터링</p> 
                        <p>4. 접속 유저의 채널 퇴장 => 채널 스키마-> users에서 필터링</p> 
                    </div>
                </div>
            </div>
            <div class="board-channel-user-list hidden">
                <div class="box__top">
                    <div class="box__exit">
                        <button type="button" class="btn__exit" id="exit" onclick="onClickExitUsers(event)"> x </button>
                    </div>
                </div>
                <div class="box__div-select-push hidden">
                    <!-- 선택한 아이템 -->
                </div>
                <form id='form' action="/client/chat/invite/<%= channel._id %>/<%= chatRoomId %>" method="post">
                    <!-- <div class="box">
                        클라이언트 프로필 사진
                        클라이언트 아이디
                        체크 박스
                    </div> -->
                    <div class="box__btn__add-member">
                        <button type="submit" class="btn__add-member"> + </button>
                        <span>초대하기</span>
                    </div>
                </form>
            </div>
        </div>

        <script type="module">
            import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";

            const socket = io('http://localhost:8080');
            console.log('스크립트 소켓 가동 중!!!');

            // 채팅 업데이트
            socket.on('sendChat', data => {
                console.log('미들웨어 sendChat!!!');
                console.log('백엔드에서 넘어온 데이터: ', data);
                console.log('채팅 내용: ', data.currentChat);

                // 이미지 박스
                const imgBox = document.createElement('div');
                const img = document.createElement('img');
                img.setAttribute('src', data.photo);
                imgBox.classList.add('board-chat__unit-chat-img');
                imgBox.appendChild(img);
                console.log('imgBox: ', imgBox);

                // 챗박스
                const chatBox = document.createElement('div');
                chatBox.classList.add('chat');

                // 닉네임
                const clientNameTag = document.createElement('div');
                clientNameTag.classList.add('client-name');
                clientNameTag.textContent = data.clientId;
                chatBox.appendChild(clientNameTag);
                console.log('clientNameTag: ', clientNameTag);

                // 챗
                const unitChat = document.createElement('div');
                unitChat.classList.add('board-chat__unit-chat');
                unitChat.textContent = data.currentChat;
                chatBox.appendChild(unitChat);
                console.log('unitChat: ', unitChat);

                // 제일 큰 유닛 박스
                const chatUnitBox = document.createElement('div');
                chatUnitBox.classList.add('board-chat__unit-chat-box');

                chatUnitBox.appendChild(imgBox);
                chatUnitBox.appendChild(chatBox);
                console.log('chatUnitBox: ', chatUnitBox);


                const historyTag = document.querySelector('.board-chat__box-history');
                historyTag.appendChild(chatUnitBox);

                document.getElementById('content').value = "";

            });
            
          </script>
          <%- include('../includes/script.ejs') %>       
    </body>   
</html>
