<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <div class="board">
            <div class="board-chat__history">
                <% if(chatRoom){ %>
                    <% for(let chat of chatRoom.chat) { %>
                            <p><%= chat %></p>
                        <% } %>
                <% } %>           
            </div>
            <div class="board-chat__chatBox">
                <form action="/client/chat/<%= chatRoom.channelId %>/<%= chatRoom._id %>" method="post">
                    <input type="hidden" name="channelId" value="<%= chatRoom.channelId %>">
                    <input type="hidden" name="chatRoomId" value="<%= chatRoom._id %>">
                    <textarea name="content" placeholder="메세지 보내기"></textarea>
                    <button type="submit">전송</button>
                </form>
            </div>
        </div>
        
        <script type="module">
            import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";

            const socket = io('http://localhost:8080');
            console.log('스크립트 소켓 가동 중!!!');

            // socket.on('loadChat', data => {
            //     console.log('미들웨어 loadChat!!!');
            //     console.log('백엔드에서 넘어온 데이터: ', data);
            // });

            socket.emit('updateChat',{

            })

            // 채팅 업데이트
            socket.on('sendChat', data => {
                console.log('미들웨어 sendChat!!!');
                console.log('백엔드에서 넘어온 데이터: ', data);
                console.log('채팅 내용: ', data.currentChat);
                // const channelId = this.parentNode.querySelector('[name = channelId]').value;
                // const chat = this.parentNode.querySelector('[name = content]').value;
                // const chatRoomId = this.parentNode.qu derySelector('[name = chatRoomId]').value;
                // console.log('channelId: ', channelId);
                // console.log('chatRoomId: ', chatRoomId);
                const div = document.createElement('div');
                const chat = document.createElement('p');
                chat.textContent = data.currentChat;
                div.appendChild(chat);
                document.querySelector('.board-chat__history').appendChild(div);
            });         
          </script>          
<%- include('../includes/end.ejs') %>