<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation.ejs') %>

        <div class="board-chat">
            <div class="board-chat__box-history">
                <% if(chatRoom){ %>
                    <% for(let user of chatRoom.users) { %>
                        <div class="board-chat__unit-chat-box">
                            <div class="board-chat__unit-chat-img">
                                <img src="<%= user.photo %>">
                            </div>
                            <div class="chat">
                                <div class="client-name"><%= user.clientId %></div>
                                <div class="board-chat__unit-chat"><%= chatRoom.chat[0] %></div>
                            </div>
                        </div>
                    <% } %>
                <% } %>     
            </div>
            <div class="board-chat__box-chat">
                    <input type="hidden" value="<%= %>">
                    <textarea class="board-chat__textarea" name="content" id="content" placeholder="메세지 보내기"></textarea>
                    <button class="board-chat__btn" type="submit" id="send">전송</button>
            </div>
        </div>

        <div class="board-user-list">
            <h1>참여자</h1>
            <% for(let clientId of clientIds) { %>
                <p><%= clientId %></p>
            <% } %>
        </div>
        
        <script type="module">
            import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";

            const socket = io('http://localhost:8080');
            console.log('스크립트 소켓 가동 중!!!');

            // 채팅 업데이트
            socket.on('sendChat', data => {
                console.log('미들웨어 sendChat!!!');
                console.log('백엔드에서 넘어온 데이터: ', data);
                console.log('채팅 내용: ', data.currentChat);

                // 이미지 박스
                const imgBox = document.createElement('div');
                const img = document.createElement('img');
                img.setAttribute('src', data.photo);
                imgBox.classList.add('board-chat__unit-chat-img');
                imgBox.appendChild(img);
                console.log('imgBox: ', imgBox);

                // 챗박스
                const chatBox = document.createElement('div');
                chatBox.classList.add('chat');

                // 닉네임
                const clientNameTag = document.createElement('div');
                clientNameTag.classList.add('client-name');
                clientNameTag.textContent = data.clientId;
                chatBox.appendChild(clientNameTag);
                console.log('clientNameTag: ', clientNameTag);

                // 챗
                const unitChat = document.createElement('div');
                unitChat.classList.add('board-chat__unit-chat');
                unitChat.textContent = data.currentChat;
                chatBox.appendChild(unitChat);
                console.log('unitChat: ', unitChat);

                // 제일 큰 유닛 박스
                const chatUnitBox = document.createElement('div');
                chatUnitBox.classList.add('board-chat__unit-chat-box');

                chatUnitBox.appendChild(imgBox);
                chatUnitBox.appendChild(chatBox);
                console.log('chatUnitBox: ', chatUnitBox);


                const historyTag = document.querySelector('.board-chat__box-history');
                historyTag.append(chatUnitBox);

                document.getElementById('content').value = "";

            });
            
          </script>
          <script src="/js/chat.js"></script>          
<%- include('../includes/end.ejs') %>