<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/auth.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/images/soulmate-logo.png">
</head>
<body>
    <div class="login-form">
        <div class="login-form__box">
            <!-- <div class="box__title">
                Soulmate
            </div> -->
            <div class="input-box">
                <a href="/"><h1>SOULMATE</h1></a>
               <p>소셜 로그인 및 이메일로 가입할 수 있습니다.</p>
            </div>
            <!-- <div class="input-box">
                <a href="/"><img src="/images/KakaoTalk_Photo_2023-06-12-23-08-29.jpeg"></a>
            </div> -->
            <!-- <div id="gSignInWrapper">
                <div id="google" class="customGPlusSignIn">
                  <span class="icon"></span>
                  <span class="buttonText">Google</span>
                </div>
            </div> -->
            <div id="name"></div>
            <div class="input-box" id="google">
                구글
            </div>
            <div class="input-box">
                <img src="/images/kakao-login-button.png">
            </div>
            <div class="input-box">
                <img src="/images/naver-login-button.png" class="btn__login">
            </div>
            <div class="input-box">
                <p>OR</p>
            </div>
            <form action="/login" method="post">
                <div class="input-box">
                    <input type="text" name="email" placeholder="이메일" value="<%= inputData.email %>">
                    <% if(valid) { %><% if(valid.path === 'email') { %><p id="valid"><%= valid.msg %></p><% } %><% } %>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="비밀번호" value="<%= inputData.password %>">
                    <% if(valid) { %><% if(valid.path === 'password') { %><p id="valid"><%= valid.msg %></p><% } %><% } %>
                </div>
                <div class="input-box">
                   <button type="submit"> 로그인</button>
                   <% if(error) { %><p id="valid"><%= error.message %></p><% } %>
                </div>
            </form>
            <div class="input-box">
                <button class="open-sign-form">회원가입</button>
            </div>
            <div class="input-box">
                <span>아이디 찾기</span><span>|</span><span>비밀번호 찾기</span>
            </div>
            <div class="copyright">
                <p>(c) 2023.SOULMATE.Corp.All rights reserved</p>
            </div>
        </div>
    </div>
    <div class="signup-form hidden">
        <div class="signup-form__box">
            <div class="input-box">
                <a href="/"><h1>SOULMATE</h1></a>
                <p>새로운 사람들과 함께하세요.</p>
             </div>
            <div class="input-box">
                <!-- <a href="/"><img src="/images/KakaoTalk_Photo_2023-06-12-23-08-29.jpeg"></a> -->
            </div>
            <form action="/signup" method="post">
                <div class="input-box">
                    <input type="text" name="email" placeholder="이메일">
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="비밀번호">
                </div>
                <div class="input-box">
                    <input type="text" name="name" placeholder="이름">
                </div>
                <div id="gender">
                    <input type="radio" name="gender" value="M">
                    <label for="gender">남자</label>
                    <input type="radio" name="gender" value="F">
                    <label for="gender">여자</label>
                </div>
                <div class="input-box">
                    <input type="text" name="photo" placeholder="프로필 사진">
                </div>
                <div class="input-box">
                    <input type="text" name="phone" placeholder="핸드폰 번호">
                </div>
                <textarea id="comment" name="comment" placeholder="나를 소개할 멘트를 적어보세요~!"></textarea>
                <div class="input-box">
                    <button type="submit">회원가입</button>
                </div>
            </form>
            <div class="input-box">
                <button id="cancel"> 취소 </button>
            </div>
        </div>
    </div>
    <script src="/js/auth.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
</body>
</html>