<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/somat-logo.png">
</head>
<body>
    <div class="login-form">
        <div class="login-form__box">
            <!-- <div class="box__title">
                Soulmate
            </div> -->
            <div class="input-box">
                <a href="/"><h1>SOULMATE</h1></a>
               <p>소셜 로그인 및 이메일로 가입할 수 있습니다.</p>
            </div>
            <div id="name"></div>
            <div class="input-box">
                <button id="google">
                    <svg width="50px" height="50px" viewBox="0 0 45 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
                        <title>goole_symbol</title>
                        <desc>Created with Sketch.</desc>
                        <g id="Google-Button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="9-PATCH" sketch:type="MSArtboardGroup" transform="translate(-608.000000, -160.000000)"></g>
                            <g id="btn_google_light_normal" sketch:type="MSArtboardGroup" transform="translate(-1.000000, -1.000000)">
                                <g id="button" sketch:type="MSLayerGroup" transform="translate(4.000000, 4.000000)" filter="url(#filter-1)">
                                    <g id="button-bg">
                                        <use fill="#FFFFFF" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-2"></use>
                                        <use fill="none" xlink:href="#path-2"></use>
                                        <use fill="none" xlink:href="#path-2"></use>
                                        <use fill="none" xlink:href="#path-2"></use>
                                    </g>
                                </g>
                                <g id="logo_googleg_48dp" sketch:type="MSLayerGroup" transform="translate(15.000000, 15.000000)">
                                    <path d="M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727 17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 L17.64,9.20454545 Z" id="Shape" fill="#4285F4" sketch:type="MSShapeGroup"></path>
                                    <path d="M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727 3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182 C2.43818182,15.9831818 5.48181818,18 9,18 L9,18 Z" id="Shape" fill="#34A853" sketch:type="MSShapeGroup"></path>
                                    <path d="M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9 C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182 L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727 0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 L3.96409091,10.71 Z" id="Shape" fill="#FBBC05" sketch:type="MSShapeGroup"></path>
                                    <path d="M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455 L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0 2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727 6.65590909,3.57954545 9,3.57954545 L9,3.57954545 Z" id="Shape" fill="#EA4335" sketch:type="MSShapeGroup"></path>
                                    <path d="M0,0 L18,0 L18,18 L0,18 L0,0 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="handles_square" sketch:type="MSLayerGroup"></g>
                            </g>
                        </g>
                    </svg>
                    <span>Google로 시작하기</span>
                </button>
            </div>
            <div class="input-box">
                <a href="/kakao/oauth/authorize"><button id="kakao"><img src="/images/kakao_symbol.png"><span>카카오로 시작하기</span></button></a>
            </div>
            <div class="input-box">
                <button id="naver"><img src="/images/naver_symbol.png" class="btn__login"><span>네이버로 시작하기</span></button>
            </div>
            <div class="input-box">
                <p>OR</p>
            </div>
            <form action="/login" method="post">
                <div class="input-box">
                    <input type="text" name="email" placeholder="이메일" value="<%= inputData.email %>">
                    <% if(valid) { %><% if(valid.path === 'email') { %><p id="valid"><%= valid.msg %></p><% } %><% } %>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="비밀번호" value="<%= inputData.password %>">
                    <% if(valid) { %><% if(valid.path === 'password') { %><p id="valid"><%= valid.msg %></p><% } %><% } %>
                </div>
                <div class="input-box">
                   <button type="submit"> 로그인</button>
                   <% if(error) { %><p id="valid"><%= error.message %></p><% } %>
                </div>
            </form>
            <div class="input-box">
                <button class="open-sign-form">회원가입</button>
            </div>
            <div class="input-box">
                <span>아이디 찾기</span><span>|</span><span>비밀번호 찾기</span>
            </div>
            <div class="copyright">
                <p>(c) 2023.SOULMATE.Corp.All rights reserved</p>
            </div>
        </div>
    </div>
    <div class="signup-form hidden">
        <div class="signup-form__box">
            <div class="input-box">
                <a href="/"><h1>SOULMATE</h1></a>
                <p>새로운 사람들과 함께하세요.</p>
             </div>
            <div class="input-box">
                <input type="text" name="email" placeholder="이메일">
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="비밀번호">
            </div>
            <div class="input-box">
                <input type="text" name="name" placeholder="닉네임">
            </div>
            <div id="gender">
                <label for="male">
                    <input type="radio" id="male" name="gender" value="M">
                    <i class="fa-regular fa-circle fa-lg"></i>
                    남자
                </label>
                <label for="female">
                    <input type="radio" id="female" name="gender" value="F">
                    <i class="fa-regular fa-circle fa-lg"></i>
                    여자
                </label>
            </div>
            <div class="input-box">
                <label for="user-profile-photo">
                    <div id="filename">프로필 사진</div>
                    <input type="file" id="photo-file" name="photo">
                    <span id="user-profile-photo"><i class="fa-regular fa-image fa-xl"></i></span>
                </label>
            </div>
            <div class="input-box">
                <input type="text" name="phone" placeholder="핸드폰 번호">
            </div>
            <textarea id="comment" name="comment" placeholder="나를 소개할 멘트를 적어보세요~!"></textarea>
            <div class="input-box">
                <button type="button" id="submit">회원가입</button>
            </div>
            <div class="input-box">
                <button id="cancel"> 취소 </button>
            </div>
        </div>
    </div>
    <script src="/js/auth.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
</body>
</html>