<div id="tab-box">
    <a class="type" id="info" href="/mychannel/<%= channel._id %>?searchWord=info">채널 정보 </a>
    <a class="type" id="member" href="/mychannel/<%= channel._id %>?searchWord=member">팀원</a>
    <a class="type" id="workspace" href="/mychannel/<%= channel._id %>?searchWord=workspace">워크스페이스</a>
    <a class="type" id="chatRoom" href="/mychannel/<%= channel._id %>?searchWord=chatRoom">채팅룸</a>
    <a class="type" href="/client/channel/exit/<%= channel._id %>" style="float: right;">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>  채널 탈퇴
    </a>
</div>