<div class="tab-box">
    <a class="type" id="info" href="/mychannel/<%= channel._id %>?searchWord=info"><i class="fa-solid fa-house"></i>채널 정보</a>
    <a class="type" id="member" href="/mychannel/<%= channel._id %>?searchWord=member"><i class="fa-solid fa-user-plus"></i>팀원</a>
    <a class="type" id="workspace" href="/mychannel/<%= channel._id %>?searchWord=workspaces"><i class="fa-solid fa-cubes-stacked"></i>워크스페이스</a>
    <a class="type" id="chatRoom" href="/mychannel/<%= channel._id %>?searchWord=chatRooms"><i class="fa-regular fa-comments"></i>채팅룸</a>
    <a class="type" href="/client/channel/exit/<%= channel._id %>"><i class="fa-solid fa-arrow-right-from-bracket"></i>채널 탈퇴</a>
</div>