<div id="menu">
    <div id="menu__inner">
        <section class="menu__section">
            <div class="menu__type-title">홈</div>
            <a class="menu__a-wrapper" href="/" id="/">
                <i class="fa-solid fa-wifi"></i>
                <span>오픈 채널</span>
            </a>
            <a class="menu__a-wrapper" href="/myprofile" id="myprofile">
                <i class="fa-regular fa-user"></i>
                <span>내 프로필 관리</span>
            </a>
            <a class="menu__a-wrapper" href="/mychannels?searchType=all" id="mychannels">
                <i class="fa-solid fa-list"></i>
                <span>내 채널</span>
            </a>
            <!-- <a class="menu__a-wrapper" href="#">알림</a> -->
            <a class="menu__a-wrapper" href="/channel" id="channel">
                <i class="fa-regular fa-plus"></i>
                <span>채널 추가</span>
            </a>
            <a class="menu__a-wrapper" href="/wishchannels" id="wishchannels">
                <i class="fa-regular fa-heart"></i>
                <span>관심 채널</span>
            </a>
        </section>
        <section class="menu__section">
            <div class="menu__type-title"><img src="/images/channel-icon.png"><span>참여 채널</span></div>
            <% if(channels) { %>
                <% for(const channel of channels) { %>
                    <a class="menu__channel" href="/mychannel/<%= channel._id %>?searchType=info" id="mychannel-<%= channel._id %>">
                        <img src="<%= channel.thumbnail %>"><span><%= channel.channelName %></span> 
                    </a>
                <% } %>
            <% } %>
        </section>
        <section>
            <%- include('./copyright.ejs') %> 
        </section>
    </div>
</div>  