<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
    <body>
        <%- include('./includes/header.ejs') %>
        <%- include('./includes/menu.ejs') %>
        <div id="channel-container">
            <div class="channel-list">
                <div id="box-search">
                    <select id="category" name="category">
                        <option>전체</option>
                        <% for(let category of staticCategoryList) { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                        <% } %>
                    </select>
                    <input type="search" id="search" placeholder="원하는 채널을 검색하세요.">
                    <!-- <button id="btn__search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button> -->
                </div>
                <div id="tab-box">
                    <a class="type" href="/">전체</a>
                    <% for(let category of staticCategoryList) { %>
                        <a class="type" href="/?category=<%= category.name %>"><%= category.name %></a>
                    <% } %>
                </div>
                <div class="wrapper-title-channel-container">
                    <div class="channel-box-items">
                        <div id="title">
                            <div class="title-inner">
                                <img src="/images/open-channel.png"><span>오픈 채널</span>
                            </div>
                        </div>
                    </div>
                    <%if(channelList.length > 0) { %>
                        <div class="channel-box-items">
                            <% for(let channel of channelList) { %>
                                <div class="contents__div-wrapper">
                                    <img src="<%= channel.thumbnail %>" onclick="onClickChannelBox('<%= channel._id %>')">
                                    <div class="card">
                                        <h2>채널명 | <%= channel.channelName %></h2>
                                    </div>
                                    <div class="card">
                                        <% for(let category of channel.category) { %>
                                            <h5 href="/client/mychannels/<%= channel._id %>"> 카테고리 | <a class="hash" href="#">#<%= channel.category %></a></h5>
                                        <% } %>
                                    </div>
                                    <div class="card">
                                        <button id="<%= channel._id %>" class="heart" type="button" onclick="onClickHeartToggleBtn('<%= channel._id %>')">
                                            <% if(channel.isUserWishChannel) { %>
                                                <i class="fa-solid fa-heart fa-xl"></i>
                                            <% } else { %>
                                                <i class="fa-regular fa-heart fa-xl"></i>
                                            <% } %>
                                        </button>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } else {%>
                        <div class="no-data-comment-container">
                            <div class="no-data-comment-box">
                                <img src="/images/no-data.png">
                                <p id="no-data-comment">개설된 채널이 없습니다.</p>
                            </div>
                        </div>
                    <% } %>
                    <% if(!channelList) { %>
                        <div id="channel-container">
                            <div class="channel-list">
                                <div id="error">
                                    <img src="/images/icons8-spinner.gif" alt="loading">
                                    <h1>서버와 연결이 끊겼습니다.</h1>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>	
        <%- include('./includes/script.ejs') %>
    </body>
</html>