<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>

    <body>
        <%- include('./includes/header.ejs') %>
        <%- include('./includes/menu.ejs') %>
        <%- include('./includes/loading.ejs') %>
            <div class="body">
                <h1>Home 화면 준비 중!!!</h1>
            </div>
        <%- include('./includes/script.ejs') %>
    </body>
    <style>
        .body {
            margin: 350px;
            margin-left: 600px;
            width: 300px;
            height: 200px;
            top: 0;
            left: 0;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;
            text-align: center;
        }
    </style>

</html>