<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div class="board-workspace">
            <div class="box-post-history">
                <div>
                    <h1>#<%= workSpace.workSpaceName %></h1>
                    <p>현재 <%= workSpace.users.length %>명이 참여하고있습니다.</p>
                </div>
                <% if(workSpace.posts.length > 0) { %>
                    <% for(let post of workSpace.posts) { %>
                        <div class="post-container">
                            <div class="post-date">
                                <%= post.createdAt %>
                            </div>
                            <div class="posts">
                                <div class="post-img-box">
                                    <img src="<%= post.creator.photo %>">
                                </div>
                                <div class="post">
                                    <div class="client-name"><%= post.creator.name %></div>
                                    <div class="post-comment"><%= post.content %></div>
                                    <p><%= post.replies.length %>개의 댓글</p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div class="box-post-content">
                <textarea name="content" id="content" placeholder="#<%= workSpace.workSpaceName %>에 내용 올리기"></textarea>
                <!-- <button class="board-chat__btn" type="button" id="send">전송</button> -->
            </div>
        </div>
        <div class="reply">
            ㅁㄴㅇ
        </div>
        <%- include('../includes/script.ejs') %>       
    </body>   
</html>
