<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <div class="board-workspace">
            <div id="history" class="box-post-history">
                <div class="box-workspace-explain">
                    <h1 id="workSpaceName">#<%= workSpace.workSpaceName %></h1>
                    <p>#<%= workSpace.workSpaceName %> <%= workSpace.createdAt %>에 생성되었습니다.</p>
                    <p>현재 <%= workSpace.users.length %>명이 참여하고있습니다.
                    <div class="workspace-member-list-box">
                        <div class="workspace-member-icon-box">
                            <div id="workspace-member-icon-left">
                                <i class="fa-solid fa-chevron-left fa-xl"></i>
                            </div>
                        </div>
                        <div class="workspace-member" onclick="getMemberListOnChannel()">
                            <img id="add-icon" src="/images/icons8-add-50.png">
                            <p>팀원 추가</p>
                        </div>
                        <% for(let user of workSpace.users) { %>
                            <div class="workspace-member">
                                <img src="<%= user.photo %>">
                                <p><%= user.name %></p>
                            </div>
                        <% } %>
                        <div id="workspace-member-icon-box">
                            <div id="workspace-member-icon-right">
                                <i class="fa-solid fa-chevron-right fa-xl"></i>
                            </div>
                        </div>
                    </div>
                    <% if(workSpace.comment) { %>
                        <p id="script-comment"><span id="comment-edit-mode" class="edit-icon"><i class="fa-regular fa-pen-to-square"></i></span><%= workSpace.comment %></p>
                    <% } else { %>
                        <p id="script-comment"><span id="comment-edit-mode" class="edit-icon"><i class="fa-regular fa-pen-to-square"></i></span>설명 스크립트를 자유롭게 남겨보세요.</p>
                    <% } %>
                </div>
                <div id="tab-box">
                    <a class="type" id="lastest" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=lastest&&sortNum=-1">최신순</a>
                    <a class="type" id="old" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=old&&sortNum=1">오래된순</a>
                    <a class="type" id="date" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=select&&sortNum=1">날짜 선택</a>
                    <a class="type" id="creator" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=creator&&sortNum=-1">내 게시물</a>
                    <a class="type" style="float: right;" onclick="onClickWorkSpaceExitBtn()"><i class="fa-solid fa-arrow-right-from-bracket"></i>워크스페이스 퇴장</a>
                    <a class="type" href="/mychannel/<%= workSpace.channelId %>?searchType=workspaces" style="float: right; margin-right: 5px;"><i class="fa-solid fa-list"></i>워크스페이스 목록</a>
                </div>
                <% if(workSpace.posts.length > 0) { %>
                    <% for(let post of workSpace.posts) { %>
                        <div class="post-container">
                            <div class="post-date">
                                <span><%= post.fomatDate %></span>
                            </div>
                            <div class="posts">
                                <div class="post-img-box">
                                    <img src="<%= post.creator.photo %>">
                                </div>
                                <div class="post">
                                    <div class="client-name">
                                        <% if(post.isCreator) { %>
                                            <%= post.creator.name %> (나)
                                            <span id="post-edit-mode" class="edit-icon" onclick="onClickWorkSpacePostEditOrRemoveBtn('edit', '<%= post._id %>')"><i class="fa-regular fa-pen-to-square"></i>수정</span>
                                            <span id="post-remove-mode" class="edit-icon" onclick="onClickWorkSpacePostEditOrRemoveBtn('remove', '<%= post._id %>')"><i class="fa-regular fa-trash-can" style="color: red;"></i>삭제</span>
                                            <% } else { %>
                                                <%= post.creator.name %>
                                        <% } %>
                                    </div>
                                    <% if(post.content !== "" && post.content !== null) { %>
                                        <div id="post-<%= post._id %>" class="post-comment"><%= post.content %></div>
                                    <% } %>
                                    <% if(post.fileUrls.length > 0) { %>
                                        <div><p id="attached-files-number">첨부파일 <%= post.fileUrls.length %>개</p></div>
                                        <div class="post-attached-files">
                                        <% for(let fileUrl of post.fileUrls) { %>
                                            <img src="http://localhost:8080/<%= fileUrl %>">
                                        <% } %>
                                        </div>
                                    <% } %>
                                    <p id="reply-number" data-postid="<%= post._id %>" onclick="createThreadTag('<%= post._id %>')"><%= post.replies.length %>개의 댓글</p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="post-container" style="text-align: center;">
                        <div class="posts" style="text-align: center;">
                            <h1 class="first-comment">새로운 게시물을 올려보세요.</h1>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="box-post-content">
                <div class="inner">
                    <!-- <div class="group">
                        일단 보류
                    </div> -->
                    <div id="preview-files"></div>
                    <div id="content" name="content" contenteditable="true">
                        <div id="placeholder">#<%= workSpace.workSpaceName %>에 내용 올리기</div>
                    </div>
                    <div class="btn-group">
                        <div class="position-right-icon">
                            <label for="file">
                                <input type="file" id="file" name="file" multiple>
                                <i class="fa-solid fa-file fa-lg"></i>
                            </label>
                        </div>
                        <div>
                            <button type="button" id="send"><i class="fa-solid fa-paper-plane fa-xl"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="/js/socket.js"></script>
        <%- include('../includes/script.ejs') %>       
    </body>   
</html>
