<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <!-- 채널생성 클릭시 모달창 오픈 -->
        <div id="container__form-box">
            <div class="box__div-form">
                <div id="thema001">
                    그이상의 소통 | 소울메이트
                </div>
                <form action="/client/channel/create" method="post">
                    <div class="box__input">
                        <label>공개설정</label>
                        <div id="open">
                            <label for="yes"><i class="fa-regular fa-circle fa-lg"></i>공개<input type="radio" id="yes" name="open" value="Y"></label>
                            <label for="no"><i class="fa-regular fa-circle fa-lg"></i>비공개<input type="radio" id="no" name="open" value="N"></label>
                        </div>
                    </div>
                    <div class="box__input">
                        <label for="channelName">채널 명</label>
                        <span><input type="text" name="channelName" id="channelName" placeholder="채널명을 입력하세요."></span>
                    </div>
                    <div class="box__input">
                        <label for="thumbnail">썸네일</label>
                        <span><input type="text" name="thumbnail" id="thumbnail" placeholder="채널을 대표할 사진경로를 입력하세요."></span>
                    </div>
                    <div class="box__input">
                        <label for="category">카테고리</label>
                        <span>
                            <select id="category" name="category">
                                <option disabled selected hidden>카테고리를 선택하세요.</option>
                                <% for(let category of staticCategoryList) { %>
                                    <option value="<%= category.name %>"><%= category.name %></option>
                                <% } %>
                            </select>
                        </span>
                    </div>
                    <div class="box__input">
                        <span><textarea class="contents-form__textarea" name="comment" id="contents" placeholder="우리 채널을 소개할 멘트를 입력하세요."></textarea></span>
                    </div>
                    <div id="box__button__submit">
                        <button type="submit" id="btn__submit">채널 개설을 동의합니다.</button>
                    </div>
                </form>
            </div>
        </div>	
        <%- include('../includes/script.ejs') %>
        <script>
            const onClickOpenYNRadio = id => {
                const circleIcon = document.getElementById('open').querySelectorAll('i');
                for(circle of circleIcon){
                    circle.className = 'fa-regular fa-circle fa-lg';
                    circle.style.color = 'rgba(0, 0, 0, 0.1)';
                }

                console.log('radio!!');
                const checkedRadio = document.querySelector('input[name="open"]:checked');

                const checkedIcon = checkedRadio.parentNode.children[0];

                checkedIcon.className = 'fa-solid fa-circle-check fa-lg';
                checkedIcon.style.color = '#42af2c';
                checkedIcon.style.opacity = '0.8';
            }
            document.getElementById('yes').addEventListener('click',onClickOpenYNRadio);
            document.getElementById('no').addEventListener('click',onClickOpenYNRadio);
        </script>
    </body>

</html>