<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <!-- 상위 부모 컨테이너 -->
        <div id="div__channel-profile-container">
            <%- include('../includes/channel-tab-box.ejs') %>
            <div class="div__user-list">
                <div id="title">
                    👍🏻 팀원 목록
                </div>
                <div class="user-inner">
                    <div id="invite-member-modal__btn" class="user__div-wrapper">
                        <!-- <button class="card" id="invite"><img src="/images/plus-icon.png"></button> -->
                        <img id="add-icon" src="/images/icons8-add-50.png">
                        <div id="invite">
                            <h2>팀원 추가</h2>
                        </div>
                    </div>
                    <%if(channel.members.length > 0) { %>
                        <% for(let member of channel.members) { %>
                            <div class="user__div-wrapper">
                                <img src="<%= member.photo %>">
                                <div class="card">
                                    <h2><%= member.name %></h2>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="user__div-wrapper">
                            <h2>팀원을 초대하세요!!</h2>
                        </div>  
                    <% } %>
                </div>
            </div>
        </div>
        <%- include('../includes/script.ejs') %>
    </body>
</html>