<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <!-- 프로필 영역 -->
        <div id="channel-profile-container">
            <%- include('../includes/channel-tab-box.ejs') %>
            <div class="box-profile">
                <div class="unit-box">
                    <div class="container-channel-thumbnail-summary">
                        <div id="channel-thumbnail-box">
                            <img src=<%= channel.thumbnail %>>
                        </div>
                        <div class="channel-summary-box">
                            <div class="channel-name-box">
                                <p><%= channel.channelName %><span id="edit-channel-btn"><% if(channel.isOwner) { %><i class="fa-regular fa-pen-to-square"></i></span><% } %></p>
                            </div>
                            <div class="summary-text-box">
                                <%= channel.summary %>
                            </div>
                        </div>
                    </div>
                    <div class="category-container">
                        <div class="category-title-text-box">연관 카테고리</div>
                        <a href="/?category=<%= channel.category %>" class="hash" data-category="<%= channel.category %>"># <%= channel.category %></a>
                        <a href="/?category=<%= channel.category %>" class="hash"># Nodejs</a>
                        <a href="/?category=<%= channel.category %>" class="hash"># Expressjs</a>
                    </div>
                    <div class="container-channel-status">
                        <div class="card-channel-status">
                            <p class="card-status-title">워크스페이스</p>
                            <img src="/images/cube-3d.png">
                            <div class="workspace-figure-number-color"><span id="status-number"><%= channel.workSpaces.length %></span><span id="ssss">개</span></div>
                        </div>
                        <div class="card-channel-status">
                            <p id="card-status-title">채팅 방</p>
                            <img src="/images/chat-icon.png">
                            <div class="chat-room-figure-number-color"><span id="status-number"><%= channel.chatRooms.length %></span><span id="ssss">개</span></div>
                        </div>
                        <div class="card-channel-status">
                            <p id="card-status-title">팀원</p>
                            <img src="/images/member-icon.png">
                            <div class="member-figure-number-color"><span id="status-number"><%= channel.members.length %></span><span id="ssss">명</span></div>
                        </div>
                        <div class="card-channel-status">
                            <p id="card-status-title">채널 운영</p>
                            <img src="/images/channel-icon.png">
                            <div class="day-figure-number-color"><span id="status-number"><%= channel.passedTime %></span><span id="ssss">일째</span></div>
                        </div>
                        <div class="card-channel-status">
                            <p id="card-status-title">피드</p>
                            <img src="/images/feeds.png">
                            <div class="feeds-figure-number-color"><span id="status-number"><%= channel.feeds.length %></span><span id="ssss">개</span></div>
                        </div>
                        <div class="card-channel-status">
                            <p id="card-status-title">현재</p>
                            <% if(channel.open == 'Y' || channel.open == 'y') { %><img src="/images/open-channel.png"><% } %>
                            <% if(channel.open == 'N' || channel.open == 'n') { %><img src="/images/close-channel.png"><% } %>
                            <div class="open-color">
                                <% if(channel.open == 'Y' || channel.open == 'y') { %><p id="openYN" data-open="<%= channel.open %>">공개</p><% } %>
                                <% if(channel.open == 'N' || channel.open == 'n') { %><p id="openYN" data-open="<%= channel.open %>">비공개</p><% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="unit-box">
                    <div id="unit-title"> 코멘트 </div>
                    <% if(channel.comment !== '' && channel.comment) { %>
                        <div class="intro-comment"><%= channel.comment %></div>
                    <% } %>
                </div>
                <div class="feed-container">
                    <div id="unit-title">
                        피드<button id="feed-upload-modal__btn"> + 피드올리기</button>
                    </div>
                    <% if(channel.feeds.length > 0) { %>
                        <% for(const feed of channel.feeds) { %>
                            <div class="feed-box">
                                <div class="feed-creator-box">
                                    <img src="<%= feed.creator.photo %>">
                                </div>
                                <div class="feed-content-box">
                                    <div class="feed-creator-name-box">
                                        <span class="feed-creator"><%= feed.creator.name %></span><span id="feed-date">1일전</span>
                                        <% if(feed.title !== '' || feed.title) { %>
                                            <div class="feed-title-box"><span>Tt.</span><span class="feed-title"><%= feed.title %></span></div>
                                        <% } else { %>
                                            <div class="feed-title-box"><span class="feed-title"></span></div>
                                        <% } %>
                                    </div>
                                    <div class="feed-comment-box"><%= feed.content %></div>
                                    <% if(feed.imageUrls.length > 0) { %>
                                        <% for(const imageUrl of feed.imageUrls) { %>
                                            <img src="<%= imageUrl %>">
                                        <% } %>
                                    <% } %>
                                    <div class="feed-icons-box" data-feedid="<%= feed._id%>">
                                        <div id="feed-like__btn" class="icon-box" data-feedid="<%= feed._id%>">
                                            <i class="fa-regular fa-thumbs-up fa-xl"></i>
                                            <span><%= feed.likes.length %></span>
                                        </div>
                                        <div class="icon-box">
                                            <i class="fa-regular fa-comment-dots fa-xl"></i>
                                            <span><%= feed.feedReplys.length %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-edit-btn-box">
                                    <% if(feed.isCreator) { %>
                                        <button class="feed-edit" id="feed-edit" data-feedid="<%= feed._id%>"><i class="fa-regular fa-pen-to-square"></i>수정</button>
                                        <button class="feed-delete" id="feed-delete" data-feedid="<%= feed._id%>"><i class="fa-regular fa-trash-can"></i>삭제</button>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <div id="feed-add-btn-box">
                            <button> + 더보기</button>
                        </div>
                    <% } else { %>
                        <div class="no-data-comment-container">
                            <div class="no-data-comment-box">
                                <img src="/images/feeds.png">
                                <p id="no-data-comment">새로운 피드를 올려보세요.</p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>