<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div class="channel-workspace-list-container">
            <%- include('../includes/channel-tab-box.ejs') %>
            <div class="channel-workspace-list-box">
                <div class="wrapper-title-workspace-container">
                    <div class="inner">
                        <div id="title">
                            🥰 <span class="client-name"><%= clientName %></span>님이 참여한 워크스페이스
                        </div>
                        <div class="workspace-box-items">
                            <%if(workSpaces.length > 0) { %>
                                <% for(let workSpace of workSpaces) { %>
                                    <div class="contents__div-wrapper">
                                        <!-- <img src="<%= channel.thumbnail %>"> -->
                                        <div class="card">
                                            <h2><i class="fa-solid fa-hashtag fa-sm"></i><%= workSpace.workSpaceName %></h2>
                                        </div>
                                        <div class="card">
                                            <h5>인원수 <%= workSpace.users.length %>명</h5>
                                            <% for(let user of workSpace.users) { %>
                                                <img src="<%= user.photo %>">
                                            <% } %>
                                        </div>
                                        <div class="card">
                                            <a class="a__btn-enter" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=lastest&&sortNum=-1">워크스페이스 입장</a>
                                        </div>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <h4 style="text-align: center;">워크스페이를 추가 해보세요!!</h4>
                            <% } %>
                        </div>
                    </div>
                    <div class="inner">
                        <div id="title">
                            🥰 공개 워크스페이스
                        </div>
                        <div class="workspace-box-items">
                            <%if(workSpaces.length > 0) { %>
                                <% for(let workSpace of openWorkSpaces) { %>
                                    <div class="contents__div-wrapper">
                                        <!-- <img src="<%= channel.thumbnail %>"> -->
                                        <div class="card">
                                            <h2><i class="fa-solid fa-hashtag fa-sm"></i><%= workSpace.workSpaceName %></h2>
                                        </div>
                                        <div class="card">
                                            <h5>인원수 <%= workSpace.users.length %>명</h5>
                                            <% for(let user of workSpace.users) { %>
                                                <img src="<%= user.photo %>">
                                            <% } %>
                                        </div>
                                        <div class="card">
                                            <a class="a__btn-enter" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=lastest&&sortNum=-1">워크스페이스 입장</a>
                                        </div>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <div>
                                    <h4 style="text-align: center;">워크스페이를 추가 해보세요!!</h4>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>