<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <div class="channel-workspace-list-container">
            <%- include('../includes/channel-tab-box.ejs') %>
            <div id="box-search">
                <input type="search" id="search" placeholder="검색" value="<%= searchWord %>">
                <button id="btn__search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
            </div>
            <div class="channel-workspace-list-box">
                <div class="wrapper-title-workspace-container">
                    <div class="inner">
                        <div id="title">
                            <span class="client-name"><%= clientName %></span>님이 참여한 워크스페이스
                            <button type="button" id="workspace-add__btn">
                                <i class="fa-solid fa-plus fa-lg"></i>
                                <span>추가</span> 
                            </button>
                        </div>
                        <%if(workSpaces.length > 0) { %>
                            <div class="workspace-box-items">
                                <% for(let workSpace of workSpaces) { %>
                                    <div class="contents__div-wrapper">
                                        <!-- <img src="<%= channel.thumbnail %>"> -->
                                        <div class="card">
                                            <h2><i class="fa-solid fa-hashtag fa-sm"></i><%= workSpace.workSpaceName %></h2>
                                        </div>
                                        <div class="card">
                                            <h5>인원수 <%= workSpace.users.length %>명</h5>
                                            <% for(let user of workSpace.users) { %>
                                                <img src="<%= user.photo %>">
                                            <% } %>
                                        </div>
                                        <div class="card">
                                            <a class="a__btn-enter" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=lastest&&sortNum=-1">워크스페이스 입장</a>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="no-data-comment-container">
                                <div class="no-data-comment-box">
                                    <img src="/images/cube-3d.png">
                                    <p id="no-data-comment">작업 공간이 비어있습니다.</p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="inner">
                        <div id="title">
                            공개 워크스페이스
                        </div>
                        <%if(openWorkSpaces.length > 0) { %>
                            <div class="workspace-box-items">
                                <% for(let workSpace of openWorkSpaces) { %>
                                    <div class="contents__div-wrapper">
                                        <!-- <img src="<%= channel.thumbnail %>"> -->
                                        <div class="card">
                                            <h2><i class="fa-solid fa-hashtag fa-sm"></i><%= workSpace.workSpaceName %></h2>
                                        </div>
                                        <div class="card">
                                            <h5>인원수 <%= workSpace.users.length %>명</h5>
                                            <% for(let user of workSpace.users) { %>
                                                <img src="<%= user.photo %>">
                                            <% } %>
                                        </div>
                                        <div class="card">
                                            <a class="a__btn-enter" href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sortType=lastest&&sortNum=-1">워크스페이스 입장</a>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="no-data-comment-container">
                                <div class="no-data-comment-box">
                                    <img src="/images/cube-3d.png">
                                    <p id="no-data-comment">공개된 작업 공간이 비어있습니다.</p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>