<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div class="channel-workspace-list-container">
            <div class="channel-workspace-list-box">
                <div id="chat" class="title">
                    <i class="fa-regular fa-comment fa-lg"></i>
                    <span>채팅 방</span>
                </div>
                <%- include('../includes/channel-tab-box.ejs') %>
                <% for(let room of chatRooms) { %>
                    <div class="">
                        <a href="/channel/chat/<%= room.channelId %>/<%= room._id %>">
                            <i class="fa-regular fa-message"></i>
                            <span><%= room.roomName %></span>
                            <% if(room.chats.length > 0) { 
                                room.chats[0].createdAt = new Date(room.chats[0].createdAt).toLocaleDateString('ko', {
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric',
                                    weekday: 'long'
                                });%>
                                <p><%= room.chats[0].createdAt %></p>
                                <p><%= room.chats[0].chat %></p>
                            <% } %>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>