<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <!-- 프로필 영역 -->
        <div id="channel-profile-container">
            <% if(workSpaces){ %>
                <div id="workspace" class="title">
                    <i class="fa-solid fa-cubes-stacked fa-lg"></i>
                    <span>워크스페이스</span>
                </div>
                <div id="workspace-list" class="menu__div-wrapper">
                    <div class="item">
                        <button id="modal-open-add-workspace">
                            <i class="fa-solid fa-plus fa-lg"></i>
                            <span>워크스페이스 추가</span> 
                        </button>
                    </div>
                    <% for(let workSpace of workSpaces) { %>
                        <div class="item">
                            <a href="/channel/workspace/<%= workSpace.channelId %>/<%= workSpace._id %>?sort=lastest&&sortNum=-1">
                                <i class="fa-solid fa-hashtag fa-sm"></i>
                                <span><%= workSpace.workSpaceName %></span>
                                <p>2023-07-14</p>
                                <p>안녕하세요 이번에 새로 입사하게된 개발자 입니다.</p>
                            </a>
                        </div>
                    <% } %>
                </div>
            <% } %>    
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>