<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <!-- 프로필 영역 -->
        <div id="channel-profile-container">
            <%- include('../includes/channel-tab-box.ejs') %>
            <div class="box-profile">
                <div class="info">
                    <img src=<%= channel.thumbnail %>>
                    <div class="box-text">
                        <div class="text">
                            <span>채널 명</span>
                            <span>
                                <%= channel.channelName %>
                                <button id="<%= channel._id %>" class="heart" type="button" onclick="onClickHeartToggleBtn('<%= channel._id %>')">
                                    <% if(channel.isUserWishChannel) { %>
                                        <i class="fa-solid fa-heart fa-xl"></i>
                                    <% } else { %>
                                        <i class="fa-regular fa-heart fa-xl"></i>
                                    <% } %>
                                </button>
                            </span>
                        </div>
                        <div class="text">
                            <span>카테고리</span><p><%= channel.category %></p>
                        </div>
                        <div class="text">
                            <span>참여 인원</span><p><%= channel.members.length %> 명</p>
                        </div>
                        <div class="text">
                            <span>채널 타입</span><p>워크스페이스</p>
                        </div>
                        <div class="text">
                            <span>워크스페이스</span><p><%= channel.workSpaces.length %> 개</p>
                        </div>
                        <div class="text">
                            <span>채팅 방</span><p><%= channel.chatRooms.length %> 개</p>
                        </div>
                        <div class="text">
                            <span>공개</span><p><%= channel.open %></p>
                        </div>
                        <div class="text">
                            <span>크리에이터</span><p><%= channel.owner %></p>
                        </div>
                    </div>
                </div>
                <% if(channel.comment !== '' && channel.comment) { %>
                    <div class="comment">
                        <p><%= channel.comment %></p>
                    </div>
                <% } %>
                <div class="feed-container">
                    <div class="feed-box">
                        <div class="feed-creator-box">
                            <img src="<%= photo %>">
                        </div>
                        <div class="feed-content-box">
                            <p id="feed-creator-name"><%= clientName %> / 1일전</p>
                            #8월기능구현해야할거
                            1. 워크스페이스 파일 및 사진 업로드 데이터 구현
                            2. 카테고리별 데이터 조회
                            3. 메뉴판에 채팅 알림 추가, 메뉴바에 채팅방 실시간 업데이팅 
                            4. 내프로필 CRUD
                            5. 워크스페이스 댓글 수정, 게시물 수정(o)
                            6. 카카오로 로그인 구글로 로그인 네이버로 로그인, 소셜로그인이 아닌 가입은 전화번호 인증 또는 이메일인증(카카오 로그인만 구현한 상태)
                            7. 알림기능 추가: 워크스페이스에 게시물 업로드, 내 게시물에 댓글 업로드, 채팅 업로드
                            8. 채널 소개페이지(o)
                            9. https로 전환
                            10. 내프로필 편집 기능 -> 이미지 만 수정 가능!!
                            <img src="/images/Ryze_0.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>