<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div class="channel-chatRoom-list-container">
            <%- include('../includes/channel-tab-box.ejs') %>
            <div class="channel-chatRoom-list-box">
                <div class="chatRoom-box-items">
                    <div id="chatRoom-add__btn" class="contents__div-wrapper">
                        <img id="add-icon" src="/images/icons8-add-50.png">
                        <h2>채팅방 추가</h2>
                    </div>
                    <% for(let room of chatRooms) { %>
                        <div class="contents__div-wrapper">
                            <div class="card">
                                <i class="fa-regular fa-message"></i><h2><%= room.roomName %></h2>
                            </div>
                            <div class="card">
                                <span>인원수 <%= room.users.length %>명</span>
                                <% for(let user of room.users) { %>
                                    <img src="<%= user.photo %>">
                                <% } %>
                            </div>
                            <div class="chat-box">
                                <% if(room.chats.length > 0) { 
                                    room.chats[0].createdAt = new Date(room.chats[0].createdAt).toLocaleDateString('ko', {
                                        year: 'numeric',
                                        month: 'long',
                                        day: 'numeric',
                                        weekday: 'long'
                                    });%>
                                    <p><%= room.chats[0].chat %></p>
                                    <p id="date"><%= room.chats[0].createdAt %></p>
                                <% } %>
                            </div>
                            <div>
                                <a class="a__btn-enter" href="/channel/chat/<%= room.channelId %>/<%= room._id %>">채팅방 입장</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
        <script src="/js/channel-chat.js"></script>
    </body>
</html>