<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <!-- 프로필 영역 -->
        <div id="channel-profile-container">
            <div class="box-profile">
                <div id="tab-box">
                    <a class="type" id="info" href="/mychannel/<%= channel._id %>?searchWord=info"> 채널 정보 </a>
                    <a class="type" id="member" href="/mychannel/<%= channel._id %>?searchWord=member"> 팀원</a>
                    <a class="type" href="/client/channel/exit/<%= channel._id %>" style="float: right;">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>  채널 탈퇴
                    </a>
                </div>
                <div class="info">
                    <img src=<%=channel.thumbnail %>>
                    <div class="box-text">
                        <div class="text">
                            <p>채널 명</p><p><%= channel.channelName %></p>
                        </div>
                        <div class="text">
                            <p>카테고리</p><p><%= channel.category %></p>
                        </div>
                        <div class="text">
                            <p>참여 인원</p><p><%= channel.members.length %> 명</p>
                        </div>
                        <div class="text">
                            <p>채널 타입</p><p>워크스페이스</p>
                        </div>
                    </div>
                </div>
                <div class="box-post">
                    <div class="post">
                        <p>2023-07-14</p>
                        <h2>우리들의 기술스택 입니다.</h2>
                        <p>작성자<span>카라멜프라푸치노</span></p>
                    </div>
                    <div id="second" class="post">
                        <p>2023-07-13</p>
                        <h2>현재 프로젝트 진행 상황</h2>
                        <p>작성자<span>카라멜프라푸치노</span></p>
                    </div>
                </div>
                <div class="content">
                <p>
                <%= channel.comment %>
                주요업무
                - On/Off Site Salesforce 개발 운영 및 유지보수
                - On/Off Site Salesforce 개발 프로젝트 수행

                자격요건
                - 2년 이상의 개발 경력
                - Java, Javascript 언어 활용 가능자
                - REST API 개발 유경험자
                - DB : SQL이해 및 DB스키마 설계 가능자
                - MS Office 활용 능력 보유자(PPT, Excel)
                - IT에 대한 열정, 배움의 의지 소유자

                우대사항
                - 영어 활용 가능자
                - 뛰어난 커뮤니케이션 능력 소유자
                - Salesforce 개발 및 운영 경험자
                - Salesforce Developer 자격증 보유자
                </p>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>