<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <!-- 프로필 영역 -->
        <div id="channel-profile-container">
            <%- include('../includes/channel-tab-box.ejs') %>
            <div class="box-profile">
                <div class="unit-box">
                    <div id="unit-title"> 채널 정보 </div>
                    <div class="info">
                        <img src=<%= channel.thumbnail %>>
                        <div class="box-text">
                            <div class="text">
                                <span>채널 명</span>
                                <div class="text-right">
                                    <p><%= channel.channelName %></p><i class="fa-regular fa-pen-to-square"></i>
                                </div>
                            </div>
                            <div class="text">
                                <span>카테고리</span>
                                <div class="text-right">
                                    <p><%= channel.category %></p><i class="fa-regular fa-pen-to-square"></i>
                                </div>
                            </div>
                            <div class="text">
                                <span>참여 인원</span>
                                <div class="text-right">
                                    <p><%= channel.members.length %> 명</p><i class="fa-regular fa-pen-to-square"></i>
                                </div>
                            </div>
                            <div class="text">
                                <span>채널 타입</span><p>워크스페이스</p>
                            </div>
                            <div class="text">
                                <span>워크스페이스</span><p><%= channel.workSpaces.length %> 개</p>
                            </div>
                            <div class="text">
                                <span>채팅 방</span><p><%= channel.chatRooms.length %> 개</p>
                            </div>
                            <div class="text">
                                <span>공개</span><p><%= channel.open %></p>
                            </div>
                            <div class="text">
                                <span>크리에이터</span><p><%= channel.owner %></p>
                            </div>
                            <div class="text">
                                <button id="<%= channel._id %>" class="heart" type="button" onclick="onClickHeartToggleBtn('<%= channel._id %>')">
                                    <% if(channel.isUserWishChannel) { %>
                                        <i class="fa-solid fa-heart fa-xl"></i>
                                    <% } else { %>
                                        <i class="fa-regular fa-heart fa-xl"></i>
                                    <% } %>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="unit-box">
                    <div id="unit-title"> 코멘트 </div>
                    <% if(channel.comment !== '' && channel.comment) { %>
                        <div class="comment">
                            <%= channel.comment %>
                        </div>
                    <% } %>
                </div>
                <div class="feed-container">
                    <div id="unit-title"> 피드 </div>
                    <div class="feed-box">
                        <div class="feed-creator-box">
                            <img src="<%= photo %>">
                        </div>
                        <div class="feed-content-box">
                            <div class="feed-creator-name-box">
                                <span><%= clientName %></span><span id="feed-date">1일전</span>
                            </div>
                            <div class="feed-comment-box">readFile 등에서 받아온 data를 data.toString()으로 변환하는 이유는 data가 buffer이기 때문이다.
파일을 읽거나 쓰는 방식은 크게 Buffer와 stream을 이용하는 방식이 있다.

* 버퍼링(영상 로딩) : 영상을 재생할 수 있을 때 까지 데이터를 모으는 동작
* 스트리밍(영상 실시간 송출) : 영상 데이터를 조금씩 전송하는 동작.

노드의 버퍼와 스트림도 비슷한 개념이다. 
노드는 파일을 읽을 때 메모리에 파일 크기 만큼 공간을 마련해두며 파일 데이터를 메모리에 저장한 뒤 사용자가 조작할 수 있도록 한다. 
이때 메모리에 저장된 데이터가 버퍼(Buffer)이다.
                            </div>
                            <img src="/images/Ryze_0.jpg">
                            <div class="feed-icons-box">
                                <div class="icon-box">
                                    <i class="fa-regular fa-thumbs-up fa-xl"></i>
                                    <span>1.1천</span>
                                </div>
                                <div class="icon-box">
                                    <i class="fa-regular fa-comment-dots fa-xl"></i>
                                    <span>387</span>
                                </div>
                            </div>
                        </div>
                        <div class="feed-creator-box">
                            <button id="feed-edit"><i class="fa-regular fa-pen-to-square"></i>수정</button>
                        </div>
                    </div>
                    <div id="feed-add-btn-box">
                        <button> + 더보기</button>
                    </div>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>