<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= channel.channelName %> - <%= title %></title>
    <link rel="stylesheet" href="/css/channel-detail.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <%if(channel) { %>
            <div class="main-profile">
                <div class="main-profile__header">
                    <div class="thumbnail">
                        <img src=<%= channel.thumbnail %>>
                    </div>
                    <div class="main-profile__content">
                        <div class="main-profile__content_item">
                            <h1>
                                채널명 | <%= channel.channelName %>
                            </h1>
                        </div>
                        <div class="main-profile__content_item">
                            <h1>
                                팔로워 | <%= channel.headcount %>
                            </h1>
                        </div>
                        <div class="main-profile__content_item">
                            <h1>
                                채널목적 | 개발팀
                            </h1>
                        </div>
                    </div>
                </div>
                <p class="title"># 참여 인원</p>
                <div class="main-profile__member-list">
                    <a href="#" class="main-profile__member">
                        <img src=<%= channel.thumbnail %>>
                        <p><%= channel.owner.ownerName%></p>
                    </a>
                </div>
            </div>
    <% } else { %>
        <h1 style="text-align: center;">Server Error <%= channel.statusCode %></h1>    
    <% } %>
    </html>
</body>