<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div id="channel-container">
            <div class="channel-list">
                <div id="thema001">
                    🥰 <span class="client-name"><%= clientId %></span> 님이 만든 채널 | 그이상의 소통을 만들어 보세요
                </div>
                <%if(ownedChannelList.length > 0) { %>
                    <% for(let channel of ownedChannelList) { %>
                        <div class="contents__div-wrapper">
                            <img src="<%= channel.thumbnail %>">
                            <div class="card">
                                <h2>채널명 | <%= channel.channelName %></h2>
                            </div>
                            <div class="card">
                                <h5>인원수 <%= channel.users.length %>명</h5>
                            </div>
                            <div class="card">
                                <% for(let category of channel.category) { %>
                                    <h5 href="/client/mychannels/<%= channel._id %>"> 카테고리 | <a class="hash" href="#">#<%= channel.category %></a></h5>
                                <% } %>
                            </div>
                            <div class="card">
                                <a class="a__btn-enter" href="/client/mychannels/<%= channel._id %>">채널 입장</a>
                            </div>
                        </div>
                        <% } %>
                <% } else { %>
                    <h1 style="text-align: center;">나만의 채널을 추가 해보세요!!</h1>
                    <a target="_blank" href="https://icons8.com/icon/zmHGtU4Ii6NX/spinner">로딩</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                <% } %>
            </div>
            <div class="channel-list">
                <div id="thema002">
                    🥰 <span class="client-name"><%= clientId %></span> 님이 초대받은 채널 | soulmate와 함께 하세요
                </div>
                <%if(invitedChannelList.length > 0) { %>
                    <% for(let channel of invitedChannelList) { %>
                        <div class="contents__div-wrapper">
                            <img src="<%= channel.thumbnail %>">
                            <div class="card">
                                <h2>채널명 | <%= channel.channelName %></h2>
                            </div>
                            <div class="card">
                                <h5>인원수 <%= channel.users.length %>명</h5>
                            </div>
                            <div class="card">
                                <% for(let category of channel.category) { %>
                                    <h5 href="/client/mychannels/<%= channel._id %>"> 카테고리 | <a class="hash" herf="#">#<%= channel.category %></a></h5>
                                <% } %>
                            </div>
                            <div class="card">
                                <a class="a__btn-enter" href="/client/mychannels/<%= channel._id %>">채널 입장</a>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <h1 style="text-align: center;"><%= clientId %>님과 함께할 친구들을 찾아보세요!!</h1>
                    <a target="_blank" href="https://icons8.com/icon/zmHGtU4Ii6NX/spinner">로딩</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                <% } %>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>