<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div id="channel-container">
            <div class="channel-list">
                <div id="box-search">
                    <select id="category" name="category">
                        <option disabled selected hidden>카테고리를 선택하세요.</option>
                        <option value="개발">개발</option>
                        <option value="디자인">디자인</option>
                        <option value="영업">영업</option>
                        <option value="커뮤니티">커뮤니티</option>
                        <option value="교육">교육</option>
                        <option value="기타">기타</option>
                    </select>
                    <input type="search" id="search" placeholder="원하는 채널을 검색하세요.">
                    <button id="btn__search"> 검색 </button>
                </div>
                <div id="thema001">
                    <a class="type" id="all" href="/mychannels?searchWord=all"> 전체 </a>
                    <a class="type" id="own" href="/mychannels?searchWord=own"> 내가 만든채널</a>
                    <a class="type" id="invite" href="/mychannels?searchWord=invite"> 소속 채널 </a>
                    <a class="type" id="open" href="/mychannels?searchWord=open"> 오픈 채널 </a>
                    <a class="type" id="work" href="/mychannels?searchWord=work"> 워크스페이스 </a>
                </div>
                <div id="thema001">
                    🥰 <span class="client-name"><%= clientName %></span> 님이 만든 채널 | 그이상의 소통을 만들어 보세요
                </div>
                <%if(channelList.length > 0) { %>
                    <% for(let channel of channelList) { %>
                        <div class="contents__div-wrapper">
                            <img src="<%= channel.thumbnail %>">
                            <div class="card">
                                <h2>채널명 | <%= channel.channelName %></h2>
                            </div>
                            <div class="card">
                                <h5>인원수 <%= channel.members.length %>명</h5>
                            </div>
                            <div class="card">
                                <% for(let category of channel.category) { %>
                                    <h5 href="/client/mychannels/<%= channel._id %>"> 카테고리 | <a class="hash" href="#">#<%= channel.category %></a></h5>
                                <% } %>
                            </div>
                            <div class="card">
                                <a class="a__btn-enter" href="/client/mychannels/<%= channel._id %>">채널 입장</a>
                            </div>
                        </div>
                        <% } %>
                <% } else { %>
                    <h1 style="text-align: center;">나만의 채널을 추가 해보세요!!</h1>
                <% } %>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>