<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <div class="channel-container">
            <div class="channel-list">
                <div id="box-search">
                    <select id="category" name="category">
                        <option value="전체">전체</option>
                        <% for(let category of staticCategoryList) { %>
                            <option value="<%= category.name %>"><%= category.name %></option>
                        <% } %>
                    </select>
                    <input type="search" id="search" placeholder="원하는 채널을 검색하세요.">
                    <button id="btn__search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                </div>
                <div id="tab-box">
                    <a class="type" href="/wishchannels">전체</a>
                    <% for(let category of staticCategoryList) { %>
                        <a class="type" href="http://localhost:3000/wishchannels?category=<%= category.name %>"><%= category.name %></a>
                    <% } %>
                </div>
                <div class="wrapper-title-channel-container">
                    <div id="title">
                        <div class="title-inner"><img src="/images/open-channel.png"><span class="client-name"><%= clientName %></span> 님이 찜한 채널</div>
                    </div>
                    <%if(channelList.length > 0) { %>
                        <div class="channel-box-items">
                            <% for(let channel of channelList) { %>
                                <div class="contents__div-wrapper">
                                    <img src="<%= channel.thumbnail %>" id="thumbnail">
                                    <div class="channel-name-card">
                                        <span><%= channel.channelName %></span>
                                        <button id="<%= channel._id %>" class="remove__btn" type="button" onclick="onClickHeartToggleBtn('<%= channel._id %>')">삭제</button>
                                    </div>
                                    <div class="card">
                                        <i class="fa-solid fa-user"></i><span><%= channel.members.length %>명</span>
                                    </div>
                                    <div class="card">
                                        <% for(let category of channel.category) { %>
                                            <a class="hash" href="#">#<%= channel.category %></a>
                                        <% } %>
                                    </div>
                                    <input type="hidden" name="channelId" value="<%= channel._id %>">
                                </div>
                            <% } %>
                        </div>
                    <% } else { %>
                        <div class="no-data-comment-container">
                            <div class="no-data-comment-box">
                                <img src="/images/channel-plus.png">
                                <p id="no-data-comment">관심 채널을 추가해보세요.</p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>