<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div class="channel-container">
            <div class="channel-list">
                <div id="box-search">
                    <select id="category" name="category">
                        <option disabled selected hidden>카테고리를 선택하세요.</option>
                        <% for(let category of staticCategoryList) { %>
                            <option value="<%= category.keyword %>"><%= category.name %></option>
                        <% } %>
                    </select>
                    <input type="search" id="search" placeholder="원하는 채널을 검색하세요.">
                    <button id="btn__search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                </div>
                <div id="tab-box">
                    <% for(let category of staticCategoryList) { %>
                        <a class="type" href="/wishchannels?searchWord=<%= category.keyword %>"><%= category.name %></a>
                    <% } %>
                </div>
                <div class="wrapper-title-channel-container">
                    <div id="title">
                        <div>🥰 <span class="client-name"><%= clientName %></span> 님이 찜한 채널</div>
                    </div>
                    <div class="channel-box-items">
                        <%if(channelList.length > 0) { %>
                            <% for(let channel of channelList) { %>
                                <div class="contents__div-wrapper">
                                    <img src="<%= channel.thumbnail %>" id="thumbnail">
                                    <div class="channel-name-card">
                                        <span><%= channel.channelName %></span>
                                        <button id="<%= channel._id %>" class="remove__btn" type="button" onclick="onClickHeartToggleBtn('<%= channel._id %>')">삭제</button>
                                    </div>
                                    <div class="card">
                                        <i class="fa-solid fa-user"></i><span><%= channel.members.length %>명</span>
                                    </div>
                                    <div class="card">
                                        <% for(let category of channel.category) { %>
                                            <a class="hash" href="#">#<%= channel.category %></a>
                                        <% } %>
                                    </div>
                                    <input type="hidden" name="channelId" value="<%= channel._id %>">
                                </div>
                            <% } %>
                        <% } else { %>
                            <h4 style="text-align: center;">관심 채널을 추가해보세요.</h4>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>