<!-- This favicon was generated using the following font:

- Font Title: League Spartan
- Font Author: Copyright 2020 The League Spartan Project Authors (https://github.com/theleagueof/league-spartan)
- Font Source: http://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBMdcFguczA.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/menu.ejs') %>
        <%- include('../includes/loading.ejs') %>
        <div class="channel-container">
            <div class="channel-list">
                <div id="box-search">
                    <select id="category" name="category">
                        <option disabled selected hidden>카테고리를 선택하세요.</option>
                        <% for(let category of staticCategoryList) { %>
                            <option value="<%= category.keyword %>"><%= category.name %></option>
                        <% } %>
                    </select>
                    <input type="search" id="search" placeholder="원하는 채널을 검색하세요.">
                    <button id="btn__search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                </div>
                <div id="tab-box">
                    <% for(let category of staticCategoryList) { %>
                        <a class="type" href="/wishchannels?searchWord=<%= category.keyword %>"><%= category.name %></a>
                    <% } %>
                </div>
                <div class="wrapper-title-channel-container">
                    <div id="title">
                        🥰 <span class="client-name"><%= clientName %></span> 님이 찜한 채널
                    </div>
                    <div class="channel-box-items">
                        <%if(channelList.length > 0) { %>
                            <% for(let channel of channelList) { %>
                                <div class="contents__div-wrapper">
                                    <img src="<%= channel.thumbnail %>">
                                    <div class="card">
                                        <h2>채널명 | <%= channel.channelName %></h2>
                                    </div>
                                    <div class="card">
                                        <div class="box-member">
                                            <!-- <% for(let member of channel.members) { %>
                                                <img src="<%= member.photo %>">
                                            <% } %> -->
                                            <h5><%= channel.members.length %>명의 크루</h5>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <% for(let category of channel.category) { %>
                                            <h5 href="/client/mychannels/<%= channel._id %>"> 카테고리 | <a class="hash" href="#">#<%= channel.category %></a></h5>
                                        <% } %>
                                    </div>
                                    <input type="hidden" name="channelId" value="<%= channel._id %>">
                                </div>
                            <% } %>
                        <% } else { %>
                            <h1 style="text-align: center;">나만의 채널을 추가 해보세요!!</h1>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>		
        <%- include('../includes/script.ejs') %>
    </body>
</html>